@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

body{
    min-width: 400px;
    margin: 0px;
}
header{
    margin: 0px;
    background-color: #000001;
    color: white;
    text-align: center;
    padding: 40px;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    word-spacing: 4px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    word-spacing: 1px;
}
h1{
    font-size: 55px;
    margin: 0px;
    font-family: 'Passion One', cursive;
    font-weight: normal;
}
main{
    font-family: "sriracha";
    font-size: 2em;
    margin: 90px 0px 90px 0px;
}
.whitewall{
    background-color: white;
    margin-left: 18px;
    margin-bottom: 90px;
}
.comwallpaper{
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    top: auto;
    background-repeat: no-repeat;
    color: white;
    box-shadow: inset black 1px 1px 8px 1px;
}
.conteudo>p{
    background-color: rgba(0, 0, 0, 0.425);
    padding-left: 18px;
    width: 410px;
    height: 440px;
    padding-top: 15px;
}
.conteudo{
    padding-top: 120px;
}
footer{
    margin-top: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 8px;
}
footer>p{
    margin:0px
}
